{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ stats|json_script:'stats' }}
<div class="toast bg-white" style="position: fixed; top: 20px; right: 20px">
  <div class="toast-header">
    <strong class="mr-auto text-primary">Aviso</strong>
    <button type="button" class="ml-2 mb-1 btn-close" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body">
    No existen registros que correspondan con los filtros seleccionados
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <form class="row row-cols-1 row-cols-lg-3 align-items-center my-3" id="filter" method="POST">
      <div class="col-sm">
        <label class="my-1 mr-2" for="start-date">Fecha inicio</label>
        <input type="date" id="start-date" class="form-control my-1 mr-sm-2" name="start-date" />
      </div>
      <div class="col-sm">
        <label class="my-1 mr-2" for="end-date">Fecha fin</label>
        <input type="date" id="end-date" class="form-control my-1 mr-sm-2" name="end-date" />
      </div>
      <div class="col-sm align-self-end">
        <button type="submit" class="btn btn-primary mt-3 mb-1">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="fw-bold fs-3 text-center mt-4 text-secondary">Denuncias por ciudadades</div>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
  </div>
  <div id="main" class="w-auto" style="height: 400px"></div>

  <div class="d-flex justify-content-center mb-4 gap-4">
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-city-csv-report' %}" download id="download-csv-per-city">
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar CSV
      </a>
    </button>
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-city-json-report' %}" target="_blank" id="download-json-per-city">
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar JSON
      </a>
    </button>
  </div>

  <p class="fw-bold fs-3 text-center text-secondary">Denuncias por tipo de denuncia</p>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
  </div>
  <div id="main2" class="w-auto" style="height: 400px"></div>

  <div class="d-flex justify-content-center mb-4 gap-4">
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-complaint-type-csv-report' %}" download id="download-csv-per-complaint-type">
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar CSV
      </a>
    </button>
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-complaint-type-json-report' %}" target="_blank" id="download-json-per-complaint-type">
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar JSON
      </a>
    </button>
  </div>
</div>
{% endblock %}

<script>
{% block javascript %}
  const stats = JSON.parse(document.querySelector('#stats').textContent);

  const mainDiv = document.querySelector('#main');
  const complaints_per_city_graph = echarts.init(mainDiv);

  function generate_complaints_per_city_graph(stats) {
    const complaints_per_city_graph_options = {
      tooltip: {},
      legend: {},
      xAxis: {
        data: stats.complaints_per_city.map((complaint) => complaint.city_code),
      },
      yAxis: {},
      series: [{ 
        type: 'bar',
        data: stats.complaints_per_city.map((complaint) => ({ 
          name: complaint.city_name,
          value: complaint.count,
          itemStyle: { color: complaint.color },
        })),
      }],
    };
    complaints_per_city_graph.setOption(complaints_per_city_graph_options);
  }

  const mainDiv2 = document.querySelector('#main2');
  const complaints_per_complaint_type = echarts.init(mainDiv2);

  function generate_complaints_per_complaint_types_graph(stats) {
    const complaints_per_complaint_type_options = {
      tooltip: {},
      legend: {},
      xAxis: {
        data: stats.complaints_per_complaint_type.map((complaint) => complaint.complaint_type_code),
      },
      yAxis: {},
      series: [{ 
        type: 'bar',
        data: stats.complaints_per_complaint_type.map((complaint) => ({ 
          name: complaint.complaint_type_name,
          value: complaint.count,
          itemStyle: { color: complaint.color },
        })),
      }],
    };
    complaints_per_complaint_type.setOption(complaints_per_complaint_type_options);
  }

  generate_complaints_per_city_graph(stats);
  generate_complaints_per_complaint_types_graph(stats);

  function changeDownloadUrls(start_date, end_date) {
    const hrefUrlCSVPerCity = "/app/reports/csv/complaints-per-city";
    const hrefUrlJSONPerCity = "/app/reports/json/complaints-per-city";
    const hrefUrlCSVPerComplaintType = "/app/reports/csv/complaints-per-complaint-type";
    const hrefUrlJSONPerComplaintType = "/app/reports/csv/complaints-per-comaplaint-type";

    const downloadCSVPerCityAnchorElement = document.getElementById('download-csv-per-city');
    const downloadJSONPerCityAnchorElement = document.getElementById('download-json-per-city');
    const downloadCSVPerComplaintTypeAnchorElement = document.getElementById('download-csv-per-complaint-type');
    const downloadJSONPerComplaintTypeAnchorElement = document.getElementById('download-csv-per-complaint-type');

    // TODO: Finish this.
    downloadCSVPerCityAnchorElement.href = `${hrefUrlCSVPerCity}?start-date=${start_date}&end-date=${end_date}`;
    downloadJSONPerCityAnchorElement.href = `${hrefUrlJSONPerCity}?start-date=${start_date}&end-date=${end_date}`;
    downloadCSVPerComplaintTypeAnchorElement.href = `${hrefUrlCSVPerComplaintType}?start-date=${start_date}&end-date=${end_date}`;
    downloadJSONPerComplaintTypeAnchorElement.href = `${hrefUrlJSONPerComplaintType}?start-date=${start_date}&end-date=${end_date}`;
  }

  $('#filter').on('submit', function(event) {
    event.preventDefault();
    $.ajax({
      url: "/app/graphs/",
      type: "GET",
      data: {
        "start-date": $('#start-date').val(),
        "end-date": $('#end-date').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        "format": "json",
      },
      // handle a successful response
      success: function(json) {
        if (json.stats) {
          const start_date = $('#start-date').val();
          const end_date = $('#end-date').val();
          generate_complaints_per_city_graph(json.stats);
          generate_complaints_per_complaint_types_graph(json.stats);
          changeDownloadUrls(start_date, end_date);
        } else {
          $('.toast').toast({delay: 3000});
          $('.toast').toast('show');
        }
      },
      // handle a non-successful response
      error: function(xhr, errmsg, err) {
        //$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
        //    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  });
{% endblock %}
</script>