{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ stats|json_script:'stats' }}

<div class="container-fluid">
  <div class="fw-bold fs-3 text-center mt-4">Denuncias por ciudadades</div>
  <div id="main" class="w-auto" style="height: 400px"></div>

  <div class="d-flex justify-content-center mb-4 gap-4">
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-city-csv-report' %}" download>
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar CSV
      </a>
    </button>
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-city-json-report' %}" target="_blank">
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar JSON
      </a>
    </button>
  </div>

  <p class="fw-bold fs-3 text-center">Denuncias por tipo de denuncia</p>
  <div id="main2" class="w-auto" style="height: 400px"></div>

  <div class="d-flex justify-content-center mb-4 gap-4">
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-complaint-type-csv-report' %}" download>
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar CSV
      </a>
    </button>
    <button class="btn btn-primary">
      <a class="text-light text-decoration-none" href="{% url 'complaints-per-complaint-type-json-report' %}" target="_blank">
        <img src="{% static 'app/img/icons/file-earmark-arrow-down.svg' %}" />
        Descargar JSON
      </a>
    </button>
  </div>
</div>
{% endblock %}

<script>
{% block javascript %}
  const stats = JSON.parse(document.querySelector('#stats').textContent);

  const mainDiv = document.querySelector('#main');
  const complaints_per_city_graph = echarts.init(mainDiv);
  const complaints_per_city_graph_options = {
    tooltip: {},
    legend: {
      data: stats.complaints_per_city.map((complaint) => complaint.city)
    },
    xAxis: {
      data: stats.complaints_per_city.map((complaint) => complaint.city)
    },
    yAxis: {},
    series: [{ type: 'bar' }],
    dataset: {
      source: stats.complaints_per_city.map((complaint) => [complaint.city, complaint.count])
    }
  };
  complaints_per_city_graph.setOption(complaints_per_city_graph_options);

  const mainDiv2 = document.querySelector('#main2');
  const complaints_per_complaint_type = echarts.init(mainDiv2);
  const complaints_per_complaint_type_options = {
    tooltip: {},
    legend: {
      data: stats.complaints_per_complaint_type.map((complaint) => complaint.complaint_type)
    },
    xAxis: {
      data: stats.complaints_per_complaint_type.map((complaint) => complaint.complaint_type)
    },
    yAxis: {},
    series: [{ type: 'bar' }],
    dataset: {
      source: stats.complaints_per_complaint_type.map((complaint) => [complaint.complaint_type, complaint.count])
    }
  };
  complaints_per_complaint_type.setOption(complaints_per_complaint_type_options);
{% endblock %}
</script>