{% extends 'base.html' %}

{% block content %}
<div class="toast" style="position: fixed; top: 20px; right: 20px">
  <div class="toast-header">
    <strong class="mr-auto text-primary">Aviso</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
      &times;
    </button>
  </div>
  <div class="toast-body">
    No existen registros que correspondan con los filtros seleccionados
  </div>
</div>
<div class="container">
  <div class="row align-items-center mb-3 mt-3 justify-content-center">
    <form class="row align-items-end" method="POST" id="filter">
      {% csrf_token %}
      <div class="col">
        <label class="my-1 mr-2" for="scientific_area">Ciudad</label>
        <select class="form-select my-1 mr-sm-2" id="scientific_area">
          <option selected value="">Todas</option>
          {% for city in cities %}
          <option value="{{ city.id }}">{{ city.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <label class="my-1 mr-2" for="position">Tipo denuncia</label>
        <select class="form-select my-1 mr-sm-2" id="position">
          <option value="" selected>Todas</option>
          {% for complaint_type in complaint_types %}
            <option value="{{ complaint_type.id }}">
              {{ complaint_type.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <div class="custom-control custom-checkbox" style="display: none">
          <input type="checkbox" class="custom-control-input" id="becal" />
          <label class="custom-control-label mr-3" for="becal">Becal</label>
        </div>
        <button type="submit" class="btn btn-primary my-1">Filtrar</button>
      </div>
    </form>
  </div>
</div>
<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <div id="map"></div>
    </div>
  </div>
</div>
<div class="modal" id="detailModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Denuncia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-3">
        <form
          id="vote-complaint-form"
          class="d-flex row row-cols-lg-auto g-3 align-items-center"
        >
          <div class="col-12">
            <span>¿Se resolvió la denuncia?</span>
          </div>
          <div class="col-12">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="vote-complaint"
                id="vote-complaint-yes"
                value="Y"
              />
              <label class="form-check-label" for="vote-complaint-yes"
                >Sí</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
              class="form-check-input"
              type="radio"
              name="vote-complaint"
              id="vote-complaint-no"
              value="N"
              />
              <label class="form-check-label" for="vote-complaint-no">No</label>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </form>
        <p id="complaint-city"></p>
        <p id="complaint-complaint-type"></p>
        <p id="complaint-description"></p>
        <div id="complaint-photo-div">
          <p>Foto de denuncia:</p>
          <img
            id="complaint-photo"
            class="d-block mx-auto img-fluid"
            src="/"
            alt="Foto de denuncia"
          />
        </div>
      </div>
      <div class="modal-footer p-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
{% endblock %}

<script>
  {% block javascript %}
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "{{ GOOGLE_MAPS_API_KEY }}",
      v: "weekly",
      // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
      // Add other bootstrap parameters as needed, using camel case.
    });
    const { map, markerClusterer } = await initMap('map');
  
    await addMarkersComplaint({{ complaints|safe }}, map, markerClusterer);
  
    $('#filter').on('submit', function(event) {
      event.preventDefault();
      $.ajax({
        url: "filter_map/",
        type: "POST",
        data: {
          scientific_area : $('#scientific_area').val(),
          position: $('#position').val(),
          becal: $('#becal').is(':checked'),
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        // handle a successful response
        success: function(json) {
          removeMarkers(markerClusterer);
          resetMap(map);
          if (json["scientists"].length > 0) {
            addMarkersComplaint(json["scientists"], map, markerClusterer);
          }
          else {
            $('.toast').toast({delay: 3000});
            $('.toast').toast('show');
          }
        },
        // handle a non-successful response
        error: function(xhr, errmsg, err) {
          //$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
          //    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });
    });
  {% endblock %}
</script>
